* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: sans-serif;
}


html {
    font-size: 16px;
}

body {
    background-color: #000000
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    
}

header .logo {
    font-size: .5rem;
    padding-left: 4em;
}

header h1{
    font-family: "Rubik Scribble", sans-serif ;
    font-size: 20px;
}


header .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

header .btns .links{
    display: flex;
    flex-direction: row;
    align-items: center;

}

header .btns .links li{
    margin-right: 20px;
    justify-content: space-between;
    cursor: pointer; 
    list-style: none;
    
}

header .btns .links li a:link{
    text-decoration: none;
}

header .btns .links li a:hover{
    color: #B76E79;
    transition: .3s;
}



.title{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    text-decoration: underline 4px;
}

.questions-container{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.question{
    border-bottom: 1px solid #fff;
}

.question button{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}

.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}


.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}

.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

footer{
    padding-top: 30px;
    border-top: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-radius: 8px;
    border-color: grey;
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;

}

.footer-content{
    width: 33.33%;
}

h4{
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 10px;
    font-family: "Rubik Scribble", sans-serif ;
}

.footer-content p{
    width:  300px;
    margin: auto;
    padding: 5px;
    text-align: center;
    
}

.footer-content ul{
    text-align: center;
}

.footer-content img{
    padding-top: 5px;
    width: 300px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: flex;
    align-items: center;
    padding: 5px;
    flex-direction: column;
}

.social-icons i{
    color: white;
    font-size: 15px;
}

a{
    text-decoration: none;
}

.social-icons i:hover{
    color: #B76E79;
}